@import 'variables';

a {
  color: $color-dark-shades;
}
a:hover {
  color: $color-dark-shades;
  cursor : pointer;
  text-decoration: none;
}

.bg-light-shades {
  background-color: $color-light-shades;
}
.bg-dark-shades {
  background-color: $color-dark-shades;
}
.bg-light-accent {
  background-color: $color-dark-accent;
}
.btn-light-accent {
  color: $color-dark-shades;
  border-color: $color-light-accent;
  background-color: $color-light-accent;
}


#app {
  background-color: $color-light-shades;
  & .navbar {
    & a {
      color: $color-main-brand;
    }
  }
  & .footer {
    color: $color-light-accent;
    background-color: $color-dark-shades;
    & p {
    }
  }
  
}

