@import 'variables';


.edit-link {
  min-height: 30px;
  min-width: 30px;
}

 .delete-link {
  background-image:url('../../public/icon/trash-alt-regular.svg');
  background-color: $color-dark-shades;
  background-repeat: no-repeat;
  min-width: 30px;
  min-height: 30px;
  border: 0px;
}

