// Body
$body-bg: #f3f6fa;

// Typography
$font-family-sans-serif: 'Noto Serif JP', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// 追加color設定
$color-light-shades: #f7f6f5;
$color-light-accent: #e1aa48;
$color-main-brand: #bd2405;
$color-dark-accent: #87819e;
$color-dark-shades: #1e1d28;
